<section class="custom-card">
  <a href="/api/comments/{{id}}">
    <section id="post-header">
        <p id="title">{{title}}</p>
        <p id="username">Posted by {{user.user_name}} on {{date_created}}</p>
    </section>

    <div class="custom-card-body">
      <div>{{content}}</div>
    </div>
  </a>
</section>